html {
    font-family: "Miriam Libre", sans-serif;
    line-height: 1.5;
}

.logo {
    height: auto;
    width: 200px;
}

.about {
    padding-top: 50px;
}


@import "./components/quote";
@import "./components/main_points";
@import "./components/login";
@import "./components/cosial";
@import "./components/separator";
@import "./components/news_panel";
@import "./components/news-card";
@import "./components/event-card";
@import "./components/events";
@import "./components/pagintaion";

// review
@import "./components/post-article";
@import "./components/podcast-card";
@import "./components/author-data";
@import "./components/social-link";
@import "./components/banner";
@import "./components/footer";
