//.marketing-site-features {
.gnc-our-services {
    text-align: center;
    padding: 2rem 0;

    &-link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fa {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: $primary-color;

        //&:hover {
        //    color: $gnc-active-link;
        //}
    }

    &-title {
        font-size: 1.125rem;
        margin-bottom: 1rem;
        color: $primary-color;

        &:hover {
            color: $gnc-active-link;
        }
    }

    &-desc {
        text-align: justify;
        font-size: 0.75em;
    }

    @media screen and (min-width: 40em) {
        text-align: left;
    }


    &-headline {
        text-align: center;
        font-size: 24px;
    }

    &-subheadline {
        margin-bottom: 2rem;
        text-align: center;
    }

}

