.author-data {
    width: 100%;
    display: flex;
    margin:  1.5rem 0 0.75rem;
    align-items: center;

    .author-data-avatar {
        padding-right: 0.5rem;
        padding-left: 0.5rem;

        img {
            width: rem-calc(60);
            height: rem-calc(60);
            border-radius: 50%;
        }
    }

    .author-data-resume {
        flex: 1 0 0;

        .author-data-resume--name {
            color: $black;
            margin-bottom: 0;
        }

        .author-data-resume--description {
            color: $dark-gray;
            margin-bottom: 0;
            font-size: 0.85em;
        }
    }
}
