
$full-width-testimonial-quote-color: $warning-color;
$full-width-testimonial-vertical-padding: 2rem;

.full-width-testimonial {
    background: url('/img/banner/12941.jpg') top right no-repeat;
    background-size: cover;
    background-position: center center;
}

.full-width-testimonial-icon {
    .quote-path {
        fill:none;
        stroke: $full-width-testimonial-quote-color;
        stroke-width:2.5192;
        stroke-miterlimit:10;
    }
}

.full-width-testimonial-content,
.full-width-testimonial-icon {
    text-align: center;
}
.full-width-testimonial-section {
    padding-top: $full-width-testimonial-vertical-padding;
    padding-bottom: $full-width-testimonial-vertical-padding;
    display: flex;

    flex-direction: column;

    .full-width-testimonial-text {
        font-weight: 300;
        color: #ffffff;
        width: 600px;
        margin: 0.5rem auto;
        font-size: 1.8em;

        @include breakpoint(small) {
            width: 350px;
            font-size: 1.5em;
        }
    }

    .full-width-testimonial-source {
        font-size: 1.2em;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        padding-bottom: 0;
        margin: 2em auto;
        align-self: center;

        @include breakpoint(small) {
            font-size: 1.0em;
        }
    }

    .full-width-testimonial-source-context {
        display: block;
        font-size: 0.9em;
        font-weight: 500;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 1.5px;

        @include breakpoint(small) {
            font-size: 0.8em;
        }
    }

    .slick-slider {
        margin-bottom: 0px;
    }
}

.full-width-testimonial-source  {
    padding-bottom: $full-width-testimonial-vertical-padding;
}

.full-width-testimonial-link  {
    align-self: center;
}
.full-width-testimonial-icon {
    padding: 0.5rem;
    transform: rotate(180deg);
}

.full-width-testimonial-content {
    width: 100%;
}
