.comment-section-container {
    //padding: $global-padding;
}

.comment-section-author {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .comment-section-name {
        margin-left: 1rem;

        p {
            margin-bottom: 0;
        }
    }
}

.comment-section-box {
    padding: $global-padding;
}

.comment-section-form {
    margin-bottom: $global-padding;
}
