.gnc-preaching-card {
    background: url("/img/banners/podcast-1-l.png") top right no-repeat;
    background-size: cover;
    background-position: center center;

    background-color: $white;
    border: 1px solid $medium-gray;
    padding: 1rem 1rem 0.5rem;
    margin: 5px 0;

    .gnc-preaching-card--summary {
        margin-bottom: 20px;
    }
}

.gnc-preaching {
    position: relative;

    &-summary {
        padding: 1rem;

        p {
            text-overflow: ellipsis;
            overflow: hidden
        }
    }

    &-audio {
        audio {
            width: 100%;
        }
    }

    &-meta {
        padding: 1rem;
    }

    &-tags {
        position: absolute;
        top: 0;
        right: 0;

        @media screen and (max-width: 60em) {
            position: relative;
        }
    }
}
