.gnc-image-gallery {

    &-title {
        font-weight: 600;
        margin-top: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1em;
        color: #404040;
    }

    &-grid {
        column-count: 1;
        column-gap: $global-margin;

        @include breakpoint(600px) {
            column-count: 2;
        }

        @include breakpoint(800px) {
            column-count: 3;
        }

        @include breakpoint(1100px) {
            column-count: 4;
        }
    }

    &-item {
        break-inside: avoid;
        margin-bottom: $global-margin;
    }

    a:hover {
        p {
            color: $primary-color;
        }
    }
}
