.gnc-title {
    color: $primary-color;
    margin-top: 1rem;
    margin-bottom: $header-margin-bottom;
    display: flex;
    align-items: center;
}

.gnc-title-catalog {
    margin-top: 1rem;
    margin-bottom: $header-margin-bottom;
}
