html {
    font-family: "Miriam Libre", sans-serif;
    line-height: 1.5;
}

.logo {
    height: auto;
    width: 200px;
}

.about {
    padding-top: 50px;
}

* {
    //transition: all 200ms ease-in-out;
}
