.gnc-navigation {
    background: $gnc-navigation-background;
    color: lighten($gnc-navigation-background, 40%);
    padding: 0;

    .gnc-navigation-logo {
        width: auto;
        height: 55px;
    }

    .gnc-navigation-data {
        padding: 2rem 0 2rem;
    }

    .gnc-navigation-menu-links {
        justify-content: flex-end;

        a {
            color: lighten($gnc-navigation-background, 40%);


        }

        @include breakpoint(medium down) {
            justify-content: center;
        }
    }

    .gnc-navigation-title {
        color: $white;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }

    .gnc-navigation-block {
        display: flex;
        margin-bottom: 0.25rem;

        .fa {
            font-size: 2rem;
            color: darken($gnc-navigation-background, 20%);
        }

        p {
            margin-left: 1rem;
            line-height: 1.125rem;
        }
    }

    .gnc-navigation-right {
        background: darken($gnc-navigation-background, 20%);
        padding: 1rem 0;

        @include breakpoint(medium down) {
            text-align: center;
        }
    }


    .gnc-navigation-top {
        //background: darken($gnc-navigation-background, 20%);
        padding: 1rem 0;

        p,
        .menu {
            background: $gnc-navigation-background;
            margin-bottom: 0;
        }


        @include breakpoint(medium down) {
            text-align: center;
        }

        .gnc-navigation-menu-links {
            justify-content: flex-end;

            a {
                color: $white;

                &:hover {
                    color: $gnc-active-link;
                }
            }

            @include breakpoint(medium down) {
                justify-content: center;
            }
        }
    }
}
