/// Default bottom border color of the new
/// @type Color
$news-item-border-bottom-color: $light-gray !default;

/// Default bottom border width of the new
/// @type Number
$news-item-border-bottom-width: rem-calc(1) !default;


.news-panel {
    .news-list {
        @include grid-col-row($gutters: 0);
    }

    .news-list {
        .news-item:not(:last-child) {
            border-bottom: $news-item-border-bottom-width solid $news-item-border-bottom-color;
        }
    }

    .news-item {
        @include grid-row();
        padding: rem-calc(15 0);

        .news-thumbnail {
            display: block;
            @include grid-column($columns: 4);

            img {
                width: 100%;
                height: auto;
            }
        }

        .news-text {
            @include grid-column($columns: 8);

            p {
                margin: 0;
            }
        }

        .news-title {
            font-size: rem-calc(26);
        }

        .news-meta {
            color: $dark-gray;
            font-size: rem-calc(14);
        }

        .meta {
            display: inline-block;
            margin-#{$global-right}: rem-calc(15);
        }

        .meta-icon, .meta-text {
            display: inline-block;
            padding-#{$global-right}: rem-calc(5);
        }

        .news-summary {

        }

        .news-read-more {
            display: block;
            font-size: rem-calc(14);

            .fa {
                padding: rem-calc(0 5)
            }
        }
    }
}

