.gnc-preaching-card {
    background: url("/img/banners/podcast-1-l.png") top right no-repeat;
    background-size: cover;
    background-position: center center;

    background-color: $white;
    border: 1px solid $medium-gray;
    padding: 1rem 1rem 0.5rem;
    margin: 5px 0;

    .gnc-preaching-card--summary {
        margin-bottom: 20px;
    }
}
